alembic>=0.9.9
aniso8601>=9.0.0
click>=7.1.2
Flask>=1.1.2
Flask-MySQL>=1.5.2
Flask-MySQLdb>=0.2.0
Flask-RESTful>=0.3.8
Flask-Script>=2.0.6
Flask-SQLAlchemy>=2.4.4
Flask-WTF>=0.14.2
itsdangerous>=1.1.0
Jinja2>=2.11.3
latest>=0.5.0
Mako>=1.0.7
mysqlclient>=2.0.3
pokemontcgsdk==2.0.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil>=2.8.1
python-dotenv==0.15.0
pytz==2021.1
PyYAML==5.4.1
six==1.15.0
SQLAlchemy==1.3.23
Werkzeug==0.16.1
WTForms>=2.2.1
